body {
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}

.addProjectBtn, .allProjectsBtn {
    font-family: 'Fredoka', sans-serif;
    background-color:red;
    margin: 20px;
    color: #ffff10;
    box-shadow: 5px 5px 10px gray;
}

.projectNameBtn {
    background-color: #085bf1;
    font-family: 'Fredoka', sans-serif;
    color: #ffff10;
    margin: 10px;
    box-shadow: 5px 5px 10px gray;

}

.addProjectBtn:hover, .allProjectsBtn:hover {
    background-color: #ff0000a6;
}

.projectNameBtn:hover {
    background-color: #085bf194;
}

.check {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    
}
#content {
    display: flex;
    height: 100%;
}

#leftMenu {
    background-color: #ffff10;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projectDisplay {
    background-color: #2d6ad5;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    align-items: center;
    font-size: 2rem;
    color:#f9f9f9;
    text-shadow: 2px 2px grey;
    text-align: center;
}

#taskDisplay {
    background-color: #f9f9f9eb;
    width: 70%;
    height: 100%;
    position: relative;
}

.taskHolder {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    position: relative;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}

.taskHolder:hover {
    background-color: grey;
    color:#f9f9f9eb;
}

.websiteTitleLogo {
    color: red;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 2px 2px grey;
}

.addTaskBtn {
    background-color: #f9f9f9;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-style: double;
    font-size: 2rem;
    transition: 0.5s;
}

.addTaskBtn:hover {
    width: 65px;
    height: 65px;
}

#taskHeading{
    display: flex;
    justify-content: space-around;
    background-color: #ff0200;
    color: #f9f9f9;
}

.createTaskMenu {
    padding: 5px;
    margin: 20px 0;
    background-color: #8db4ed;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-between;
}

.dropDown {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    color: white;
    font-size: 1rem;
}


.priorityButton {
    font-family: 'Fredoka', sans-serif;
    background-color:#00cb00;
    color: white;
}

.priorityLevelButtons {
    font-family: 'Fredoka', sans-serif;
    background-color: #149314;
    border: none;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 white;
}

.priorityLevelButtons:hover {
    background-color: green;
}

.priorityDiv {
    display: flex;
    flex-direction: column;
}

.submitBtn {
    background-color: #f9f9f9;
}

.submitBtn:hover {
    background-color:#00d000;
}

.taskPopUp {
    border: 2px solid black;
    background-color: #fdff00;
    width: 75%;
    height: 50%;
    z-index: 1;
    position: absolute;
    top: 150px;
    left: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

    animation-name: taskPopUp;
    animation-duration: 1s;
}

.taskPopUpCloseBtn {
    position: absolute;
    top: 2%;
    right: 96%;
    border-radius: 100%;
    border: 1px solid black;
    background-color: #ff0000;
    color: #f9f9f9;
}

@keyframes taskPopUp {
    from {top: 0;}
    to {top: 150px;}
}

.allTasksMsg, .projectTasksMsg {
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    font-weight: 100;
}

.deleteBtn {
    border-style: none;
    background-color: #00c400;
    color: #f9f9f9;
    padding: 5px;
    margin: 10px;
}

.deleteBtn:hover {
    background-color: #149314;
}

#projectBtnHolder {
    display: flex;
    flex-direction: column;
}

#deleteMenu {
    border: 3px solid blue;
}