body {
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}

.addProjectBtn {
    font-family: 'Fredoka', sans-serif;
    background-color:red;
    margin: 20px;
    color: #ffff10;
    box-shadow: 5px 5px 10px gray;
}

.projectNameBtn {
    background-color: #085bf1;
    font-family: 'Fredoka', sans-serif;
    color: #ffff10;
    margin: 10px;
    box-shadow: 5px 5px 10px gray;

}

.addProjectBtn:hover {
    background-color: #ff0000a6;
}

.projectNameBtn:hover {
    background-color: #085bf194;
}

.check {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    
}
#content {
    display: flex;
    height: 100%;
}

#leftMenu {
    background-color: #ffff10;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projectDisplay {
    background-color: #2d6ad5;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    align-items: center;
    font-size: 2rem;
    color:#f9f9f9;
    text-shadow: 2px 2px grey;
}

#taskDisplay {
    background-color: #f9f9f9eb;
    width: 70%;
    height: 100%;
}

.taskHolder {
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
}

.websiteTitleLogo {
    color: red;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 2px 2px grey;
}

.addTaskBtn {
    background-color: #f9f9f9;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-style: double;
    font-size: 2rem;
    transition: 0.5s;
}

.addTaskBtn:hover {
    width: 65px;
    height: 65px;
}

#taskHeading{
    display: flex;
    justify-content: space-between;
    background-color: #ff0200;
    color: #f9f9f9;
}
